html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.main__page {
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFF 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    margin-top: 34px;
    margin-bottom: 58px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;

}

.logo__text {
    margin-left: 18px;
}

.Wargoose__container {
    background-color: #fff;
    padding: 60px 56px;
    align-self: center;
}

.Wargoose__title {
    color: #1B1D1F;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
}
.Wargoose__greeting {
    color: #1B1D1F;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
}

.Wargoose__start__text {
    color: #FF6B0A;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 48px;
}

.Wargoose__description {
    color: #1B1D1F;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.Wargoose__launch {
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}

.main__page__row {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.Wargoose__image {
    align-self: flex-end;
}

.goose__facts {
    padding: 52px 0px 72px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goose__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #1B1D1F;
    margin: 16px 0;
}

.goose__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1B1D1F;
    width: 875px;
}

.goose__facts__container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.goose__fact__item {
    width: 33%;
}

.goose__fact__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #1B1D1F;
    margin: 12px 0 32px 0;
}

.goose__fact__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    width: 280px;
}

.victory__bgd {
    width: 1170px;
    background: linear-gradient(270deg, #C1E8FF 0%, #FFFFFF 100%);
    padding: 72px 0;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.victory__footer {
    display: flex;
    justify-content: center;
}

.victory__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #1B1D1F;
    margin: 16px 0;
}

.victory__description {
    width: 875px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1B1D1F;
    margin: 0 148px;
}

.modal__bgd {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(27 29 31 / 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;

}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__form__container{
    background-color: #FFF;
    padding: 32px 92px 60px 92px;
    position: relative;
}

.modal__form__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 32px 0 12px 0;
}

.modal__form__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 24px;
}

.modal__form__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

}

.modal__field__name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    color: #000000;
}

.modal__field__input {
    border: 1px solid #005BBB;
    box-sizing: border-box;
    border-radius: 8px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    padding: 4px 8px;
}

.modal__form__button {
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    border: 0;
    margin-top: 24px;
}

.clouse__button {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 24px;
    color: #1B1D1F;
    cursor: pointer;
    border: 0;
    background: none;
}

.modal__description {
    margin-bottom: 0;
}

.modal__active {
    opacity: 1;
    pointer-events: all;
}

